MONGO_URI=mongodb://root:1234@localhost:27017/products-cart-avatar?authSource=admin
PORT=3000
FRONTEND_URL=http://localhost:5173
JWT_ACCESS_SECRET=your_access_secret
JWT_REFRESH_SECRET=your_refresh_secret
JWT_ACCESS_EXPIRES=15m
JWT_REFRESH_EXPIRES=7d